.openTargets_interactions_label {
  text {
    font-family: 'Raleway', sans-serif;
  }
  cursor: pointer;
}

.star-plot-toplevel-container {
  position: absolute;
  left: 0px;
  top: 0px;
  &.top {
    z-index: 2;
    pointer-events: none;
  }
}